.loader {
	font-size: 20px;
	margin: 5em auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
@-webkit-keyframes load4 {
	0%,
	100% {
		box-shadow: 0em -3em 0em 0.2em #c7c7c7, 2em -2em 0 0em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 -0.5em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 0em #c7c7c7;
	}
	12.5% {
		box-shadow: 0em -3em 0em 0em #c7c7c7, 2em -2em 0 0.2em #c7c7c7, 3em 0em 0 0em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 -0.5em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	25% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 0em #c7c7c7, 3em 0em 0 0.2em #c7c7c7, 2em 2em 0 0em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 -0.5em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	37.5% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 0em #c7c7c7, 2em 2em 0 0.2em #c7c7c7, 0em 3em 0 0em #c7c7c7, -2em 2em 0 -0.5em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	50% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 0em #c7c7c7, 0em 3em 0 0.2em #c7c7c7, -2em 2em 0 0em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	62.5% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 0em #c7c7c7, -2em 2em 0 0.2em #c7c7c7, -3em 0em 0 0em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	75% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 0em #c7c7c7, -3em 0em 0 0.2em #c7c7c7, -2em -2em 0 0em #c7c7c7;
	}
	87.5% {
		box-shadow: 0em -3em 0em 0em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 0em #c7c7c7, -3em 0em 0 0em #c7c7c7, -2em -2em 0 0.2em #c7c7c7;
	}
}
@keyframes load4 {
	0%,
	100% {
		box-shadow: 0em -3em 0em 0.2em #c7c7c7, 2em -2em 0 0em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 -0.5em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 0em #c7c7c7;
	}
	12.5% {
		box-shadow: 0em -3em 0em 0em #c7c7c7, 2em -2em 0 0.2em #c7c7c7, 3em 0em 0 0em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 -0.5em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	25% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 0em #c7c7c7, 3em 0em 0 0.2em #c7c7c7, 2em 2em 0 0em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 -0.5em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	37.5% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 0em #c7c7c7, 2em 2em 0 0.2em #c7c7c7, 0em 3em 0 0em #c7c7c7, -2em 2em 0 -0.5em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	50% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 0em #c7c7c7, 0em 3em 0 0.2em #c7c7c7, -2em 2em 0 0em #c7c7c7, -3em 0em 0 -0.5em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	62.5% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 0em #c7c7c7, -2em 2em 0 0.2em #c7c7c7, -3em 0em 0 0em #c7c7c7, -2em -2em 0 -0.5em #c7c7c7;
	}
	75% {
		box-shadow: 0em -3em 0em -0.5em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 0em #c7c7c7, -3em 0em 0 0.2em #c7c7c7, -2em -2em 0 0em #c7c7c7;
	}
	87.5% {
		box-shadow: 0em -3em 0em 0em #c7c7c7, 2em -2em 0 -0.5em #c7c7c7, 3em 0em 0 -0.5em #c7c7c7, 2em 2em 0 -0.5em #c7c7c7, 0em 3em 0 -0.5em #c7c7c7, -2em 2em 0 0em #c7c7c7, -3em 0em 0 0em #c7c7c7, -2em -2em 0 0.2em #c7c7c7;
	}
}
